body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/mauritius-beachcomber.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 280px 0;
  color: whitesmoke;
  text-align: center;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 20px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
}

header a {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #193146;
  padding: 16px 32px;
  margin-top: 32px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  background: whitesmoke;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-col {
  grid-template-columns: 1fr 1fr;
}

.grid-3-col {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-col-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.img-responsive {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.card {
  background: white;
  padding: 15px;
}

.card p {
  padding: 30px 15px;
}

.flower {
  border-radius: 70%;
}

.embed {
  width: 100%;
  aspect-ratio: 1 / 1;
}

section {
  margin: 0 auto;
  padding: 50px;
}

main {
  background-color: whitesmoke;
}

main h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  margin: 0;
}

main h5 {
  font-weight: 400;
  font-size: 12px;
  opacity: 70%;
}

main .stats {
  line-height: 2;
  text-align: center;
}

div {
  display: block;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.8),
      rgba(39, 32, 68, 0.8)
    ),
    url(../images/mauritius-waterfall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer li {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer a {
  color: whitesmoke;
  opacity: 0.7;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  header a {
    font-size: 9px;
    padding: 10px 20px;
    letter-spacing: 1px;
  }
  section {
    padding: 30px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
}
